In [ ]:
pip install openpyxl

In [ ]:
pip install xlrd

In [65]:
import pandas as pd
import re

df = pd.read_excel("Shark.xls")
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df.info

<bound method DataFrame.info of                 Date    Year        Type             Country  \
0       14th October  2025.0  Unprovoked            Columbia
1       11th October  2025.0  Unprovoked           Australia
2        7th October  2025.0  Unprovoked           Australia
3     29th September  2025.0  Unprovoked                 USA
4     27th September  2025.0    Provoked          Costa Rica
...              ...     ...         ...                 ...
7045     Before 1903     0.0  Unprovoked           AUSTRALIA
7046     Before 1903     0.0  Unprovoked           AUSTRALIA
7047       1900-1905     0.0  Unprovoked                 USA
7048       1883-1889     0.0  Unprovoked              PANAMA
7049       1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

                      State                             Location  \
0      Bolivar, del Isolate                    Catagena Province
1                Queensland       Cook Esplanade Thursday Island
2           South Australia                      Kangaroo Island
3            Off California                      Catalina Island
4                       NaN                        Cocos Islands
...                     ...                                  ...
7045      Western Australia                          Roebuck Bay
7046      Western Australia                                  NaN
7047         North Carolina                       Ocracoke Inlet
7048                    NaN                 Panama Bay 8ºN, 79ºW
7049       Eastern Province  Below the English fort, Trincomalee

                   Activity                   Name Sex  Age  ...  \
0      Swimming with sharks             Male child   M   14  ...
1          Fishing/swimming             Samuel Nai   M   14  ...
2                   Surfing           Lee Berryman   M  50+  ...
3                  Swimming     Christopher Murray   M   54  ...
4     Diving-Tagging sharks     Dr. Mauricio Hoyos   M   48  ...
...                     ...                    ...  ..  ...  ...
7045                 Diving                   male   M  NaN  ...
7046           Pearl diving                  Ahmun   M  NaN  ...
7047               Swimming  Coast Guard personnel   M  NaN  ...
7048                    NaN        Jules Patterson   M  NaN  ...
7049               Swimming                   male   M   15  ...

                 Species                                          Source  \
0            Nurse shark   Kevin McMurray Trackingsharks.com Andy Currie
1     Tiger or Bull shark              Kevin McMurray Trackingsharks.com
2          Bronze whaler?              Kevin McMurray Trackingsharks.com
3      unknown 1.2m shark  Todd Smith: Kevin McMurray Trackingsharks.com
4          Tiger shark 4m  Todd Smith: Kevin McMurray Trackingsharks.com
...                   ...                                            ...
7045                  NaN               H. Taunton; N. Bartlett,  p. 234
7046                  NaN          H. Taunton; N. Bartlett,  pp. 233-234
7047                  NaN           F. Schwartz, p.23; C. Creswell, GSAF
7048                  NaN                            The Sun, 10/20/1938
7049                  NaN                                     S.W. Baker

                                 pdf  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
7045          ND-0005-RoebuckBay.pdf
7046               ND-0004-Ahmun.pdf
7047  ND-0003-Ocracoke_1900-1905.pdf
7048      ND-0002-JulesPatterson.pdf
7049              ND-0001-Ceylon.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...
7046  http://sharkattackfile.net/spreadsheets/pdf_di...
7047  http://sharkattackfile.net/spreadsheets/pdf_di...
7048  http://sharkattackfile.net/spreadsheets/pdf_di...
7049  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
7046  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
7047  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
7048  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
7049  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
7045       ND.0005            6.0         NaN         NaN
7046       ND.0004            5.0         NaN         NaN
7047       ND.0003            4.0         NaN         NaN
7048       ND.0002            3.0         NaN         NaN
7049       ND.0001            2.0         NaN         NaN

[7050 rows x 23 columns]>

In [ ]:
#df = df.drop(["pdf", "href formula", "href", "Case Number", "Case Number.1", "original order", "Unnamed: 21", "Unnamed: 22"], axis=1)

In [54]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df.shape

(7050, 23)

In [56]:
df.isnull().sum()

Date                 0
Year                 2
Type                18
Country             50
State              486
Location           567
Activity           585
Name               219
Sex                579
Age               2994
Injury              35
Fatal Y/N          561
Time              3526
Species           3131
Source              20
pdf                251
href formula       256
href               254
Case Number        252
Case Number.1      253
original order     251
Unnamed: 21       7049
Unnamed: 22       7048
dtype: int64

In [57]:
df.isna().sum(axis=1)

0       8
1       8
2       8
3       8
4       9
       ..
7045    5
7046    6
7047    5
7048    7
7049    4
Length: 7050, dtype: int64

In [58]:
df.Age.nunique()

251

In [59]:
df.Age.unique()

array(['14', '50+', '54', '48', '57', '8', '?', '63', '9', '39', '19',
       '7', '85', '69', '18', '66', '21', '40', '37', '16', '20', '12',
       '42', '26', '45', '30', '30+', '56', '40+', '29', 35, 58, 29, 24,
       20, 55, 17, 12, 37, 36, 23, 40, 28, 69, 48, '60+', 57, 45, 61, 27,
       38, 16, 68, 33, 30, 15, 41, 14, 43, 26, 'Middle age', 18, 21, 49,
       25, 46, 19, 65, 64, '13', nan, '11', '46', '32', '10', '64', '62',
       '22', '15', '52', '44', '47', '55', '59', '50', '34', '38', '30s',
       '20/30', '35', '65', '20s', '77', '60', '49', '!2', '24', '73',
       '25', '50s', '58', '67', '17', '6', '41', '53', '68', '43', '51',
       '31', 39, 51, 10, 13, 60, '40s', 62, 'teen', 8, 22, 32, 56, 'Teen',
       42, 50, 'M', 9, 31, 11, 34, '!6', '!!', 47, 7, 71, 59, 53, 54, 75,
       '45 and 15', 73, 52, 70, 4, 63, 44, '28 & 22', '22, 57, 31', '60s',
       "20's", 67, 74, '9 & 60', 'a minor', 6, 3, 82, '40?', 66, 72, '23',
       '36', '71', '70', '18 months', '28', '33', '61', '74', '27', '3',
       '28 & 26', '5', '86', '18 or 20', '12 or 13', '46 & 34',
       '28, 23 & 30', 'Teens', 77, '36 & 26', '8 or 10', 84, '\xa0 ', ' ',
       '30 or 36', '6½', '21 & ?', '33 or 37', 'mid-30s', '23 & 20', 5,
       ' 30', '7      &    31', ' 28', '20?', "60's", '32 & 30',
       '16 to 18', '87', 'Elderly', 'mid-20s', 'Ca. 33', '74 ', '45 ',
       '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', 1, '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', '4', 'MAKE LINE GREEN', ' 43', '81',
       '"young"', '7 or 8', 78, '17 & 16', 'F', 'Both 11', '9 or 10',
       'young', '36 & 23', '  ', '78', 'A.M.', '?    &   14', '10 or 12',
       '31 or 33', '2½', '1', '13 or 14'], dtype=object)

In [61]:
#df["Age"] = pd.to_numeric(df["Age"], errors="coerce")
#df["Age"].fillna(df["Age"].mean())

0       14.00000
1       14.00000
2       28.15601
3       54.00000
4       48.00000
          ...
7045    28.15601
7046    28.15601
7047    28.15601
7048    28.15601
7049    15.00000
Name: Age, Length: 7050, dtype: float64

In [62]:
df.Age.unique()

array([14., nan, 54., 48., 57.,  8., 63.,  9., 39., 19.,  7., 85., 69.,
       18., 66., 21., 40., 37., 16., 20., 12., 42., 26., 45., 30., 56.,
       29., 35., 58., 24., 55., 17., 36., 23., 28., 61., 27., 38., 68.,
       33., 15., 41., 43., 49., 25., 46., 65., 64., 13., 11., 32., 10.,
       62., 22., 52., 44., 47., 59., 50., 34., 77., 60., 73., 67.,  6.,
       53., 51., 31., 71., 75., 70.,  4., 74.,  3., 82., 72.,  5., 86.,
       84., 87.,  1., 81., 78.])

In [26]:
df.Activity.unique()

array(['Swimming with sharks', 'Fishing/swimming', 'Surfing', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      dtype=object)

In [28]:
df.Name.nunique()

5774

In [31]:
len(df["Name"].to_list())

7050

In [36]:
df.loc[:, df.columns.str.contains("Unamed")]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[7050 rows x 0 columns]

In [37]:
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[7050 rows x 0 columns]

In [66]:

# Clean column names (lowercase, replace spaces, regex)
df.columns = df.columns.map(lambda c: re.sub(r'[^A-Za-z0-9_]+', '', c.strip().lower().replace(" ", "_")))

In [67]:
# Strip whitespace in string columns
df = df.apply(lambda col: col.str.strip() if col.dtype == "object" else col)

In [68]:
# Remove duplicated rows
df = df.drop_duplicates()

In [69]:

# Drop useless columns (Unnamed columns)
df = df.drop(columns=[c for c in df.columns if c.startswith("unnamed")], errors='ignore')

In [72]:
# Convert "age" to numeric using regex to extract numbers
if "age" in df.columns:
    df["age"] = df["age"].astype(str).str.extract(r'(\d+)')
    df["age"] = pd.to_numeric(df["age"], errors='coerce')

# Fill numeric missing with mean & median examples
if "age" in df.columns:
    df["age"] = df["age"].fillna(df["age"].median())   # median example

if "year" in df.columns:
    df["year"] = pd.to_numeric(df["year"], errors='coerce')
    df["year"] = df["year"].fillna(df["year"].mean())  # mean example

In [73]:
# -----------------------
# DATE CLEANING
# -----------------------
if "date" in df.columns:
    df["date"] = df["date"].apply(lambda x: pd.to_datetime(x, errors="coerce"))

In [74]:
# -----------------------
# TEXT CLEANING WITH REGEX
# -----------------------
# Remove weird characters from name
if "name" in df.columns:
    df["name"] = df["name"].apply(lambda x: re.sub(r'[^A-Za-z\s]+', '', str(x)))

# Standardize sex field (M/F/Unknown)
if "sex" in df.columns:
    df["sex"] = df["sex"].apply(lambda s: re.sub(r'[^MFmf]', '', str(s)).upper())
    df["sex"] = df["sex"].replace("", "Unknown")