In [8]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\dsgedsge-elec\anaconda3\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
df = pd.read_excel("GSAF5.xls")
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [11]:
df.shape

(7050, 23)

In [12]:
df.info

<bound method DataFrame.info of                 Date    Year        Type             Country  \
0       14th October  2025.0  Unprovoked            Columbia
1       11th October  2025.0  Unprovoked           Australia
2        7th October  2025.0  Unprovoked           Australia
3     29th September  2025.0  Unprovoked                 USA
4     27th September  2025.0    Provoked          Costa Rica
...              ...     ...         ...                 ...
7045     Before 1903     0.0  Unprovoked           AUSTRALIA
7046     Before 1903     0.0  Unprovoked           AUSTRALIA
7047       1900-1905     0.0  Unprovoked                 USA
7048       1883-1889     0.0  Unprovoked              PANAMA
7049       1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

                      State                             Location  \
0      Bolivar, del Isolate                    Catagena Province
1                Queensland       Cook Esplanade Thursday Island
2           South Australia                      Kangaroo Island
3            Off California                      Catalina Island
4                       NaN                        Cocos Islands
...                     ...                                  ...
7045      Western Australia                          Roebuck Bay
7046      Western Australia                                  NaN
7047         North Carolina                       Ocracoke Inlet
7048                    NaN                 Panama Bay 8ºN, 79ºW
7049       Eastern Province  Below the English fort, Trincomalee

                   Activity                   Name Sex  Age  ...  \
0      Swimming with sharks             Male child   M   14  ...
1          Fishing/swimming             Samuel Nai   M   14  ...
2                   Surfing           Lee Berryman   M  50+  ...
3                  Swimming     Christopher Murray   M   54  ...
4     Diving-Tagging sharks     Dr. Mauricio Hoyos   M   48  ...
...                     ...                    ...  ..  ...  ...
7045                 Diving                   male   M  NaN  ...
7046           Pearl diving                  Ahmun   M  NaN  ...
7047               Swimming  Coast Guard personnel   M  NaN  ...
7048                    NaN        Jules Patterson   M  NaN  ...
7049               Swimming                   male   M   15  ...

                 Species                                          Source  \
0            Nurse shark   Kevin McMurray Trackingsharks.com Andy Currie
1     Tiger or Bull shark              Kevin McMurray Trackingsharks.com
2          Bronze whaler?              Kevin McMurray Trackingsharks.com
3      unknown 1.2m shark  Todd Smith: Kevin McMurray Trackingsharks.com
4          Tiger shark 4m  Todd Smith: Kevin McMurray Trackingsharks.com
...                   ...                                            ...
7045                  NaN               H. Taunton; N. Bartlett,  p. 234
7046                  NaN          H. Taunton; N. Bartlett,  pp. 233-234
7047                  NaN           F. Schwartz, p.23; C. Creswell, GSAF
7048                  NaN                            The Sun, 10/20/1938
7049                  NaN                                     S.W. Baker

                                 pdf  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
7045          ND-0005-RoebuckBay.pdf
7046               ND-0004-Ahmun.pdf
7047  ND-0003-Ocracoke_1900-1905.pdf
7048      ND-0002-JulesPatterson.pdf
7049              ND-0001-Ceylon.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...
7046  http://sharkattackfile.net/spreadsheets/pdf_di...
7047  http://sharkattackfile.net/spreadsheets/pdf_di...
7048  http://sharkattackfile.net/spreadsheets/pdf_di...
7049  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
7046  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
7047  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
7048  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
7049  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
7045       ND.0005            6.0         NaN         NaN
7046       ND.0004            5.0         NaN         NaN
7047       ND.0003            4.0         NaN         NaN
7048       ND.0002            3.0         NaN         NaN
7049       ND.0001            2.0         NaN         NaN

[7050 rows x 23 columns]>